{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<!--<h2 class="mb-3">Multiplication Table</h2>-->


{% if multiples %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            {% for item in multiples[0] %}
            <th>{{ item }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in multiples[1:] %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endif %}
{% endblock %}





