{% extends "base.html" %}

{% block content %}
<div class="container mt-4">

    <!-- Bootstrap Table Responsive with Rounded Corners -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <!-- Loop to create table headers -->
                    {% for item in multiples[0] %}
                    <th>{{ item }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Loop to create table rows -->
                {% for row in multiples[1:] %}
                <tr>
                    {% for item in row %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


