{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block body %}
<div class="container">
    <h1>Please register by filling in this form</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username, False) }}
        {{ wtf.form_field(form.email, False) }}
        {{ wtf.form_field(form.password, False) }}
        {{ wtf.form_field(form.confirm_password, False) }}
        {{ wtf.form_field(form.level, False) }}
        {{ wtf.form_field(form.height, False) }}
        {{ wtf.form_field(form.submit, False) }}
    </form>
</div>
{% endblock %}
